@{
    ViewData["Title"] = "Alerts";
}
@model CrewManTest.Models.Tripulante
<div>
    @Html.TextBox("Nome", Model.Nome)
    @Html.TextBox("Num", Model.Num)
</div>
<div>

</div>
<div>
    @Html.TextBox("Nome", Model.Nome)
    @Html.TextBox("Num", Model.Num)
</div>