
@{
    ViewData["Title"] = "CrewChange";
}
}
<link rel="stylesheet" href="~/css/crewman.css" />

<div class="div_direita_topo_header">Crew members <img src="~/images/menu_tripulantes.png"></div>
<table style="width:100%">
    <tr class="class=" div_titulo_barra_area_3"">
        <th>Nome</th>
        <th>Nome</th>
        <th>Nome</th>
    </tr>

</table>