@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/crewman.css" />
<!-- divisão horizontal direita-centro com 75% de 100% do geral -->
@model CrewManTest.Models.Tripulante
<body>


    <div class="div_direita_topo_header">Crew members <img src="imgs/menu_tripulantes.png"></div>

    <!-- botao criar novo e caixa pesquisa -->
    <div class="area_botao_e_pesquisa">
        <div class="area_botao_e_pesquisa_2">
            <a href="#" class="caixa_btn_criar_novo">Create new</a>
        </div>

        <div class="area_botao_e_pesquisa_3">
            <div class="moldura_tripulantes_pesquisa">
                <input type="text" class="inp_tripulantes_pesquisa" placeholder="Pesquisar..." />
                <input type="button" class="btn_tripulantes_pesquisa" title="Pesquisar" />
            </div>
        </div>
    </div>




    <!-- Alfabeto -->
    <div class="alfabetofont">
        <span class="alfabetoborder">
            <a href="#" class="alfabeto_link">A </a>
            <a href="#" class="alfabeto_link">B </a>
            <a href="#" class="alfabeto_link">C </a>
            <a href="#" class="alfabeto_link">D </a>
            <a href="#" class="alfabeto_link">E </a>
            <a href="#" class="alfabeto_link">F </a>
            <a href="#" class="alfabeto_link">E </a>
            <a href="#" class="alfabeto_link">F </a>
            <a href="#" class="alfabeto_link">G </a>
            <a href="#" class="alfabeto_link">H </a>
            <a href="#" class="alfabeto_link">I </a>
            <a href="#" class="alfabeto_link">J </a>
            <a href="#" class="alfabeto_link">K </a>
            <a href="#" class="alfabeto_link">L </a>
            <a href="#" class="alfabeto_link">M </a>
            <a href="#" class="alfabeto_link">O </a>
            <a href="#" class="alfabeto_link">P </a>
            <a href="#" class="alfabeto_link">Q </a>
            <a href="#" class="alfabeto_link">R </a>
            <a href="#" class="alfabeto_link">S </a>
            <a href="#" class="alfabeto_link">T </a>
            <a href="#" class="alfabeto_link">U </a>
            <a href="#" class="alfabeto_link">V </a>
            <a href="#" class="alfabeto_link">W </a>
            <a href="#" class="alfabeto_link">X </a>
            <a href="#" class="alfabeto_link">Y </a>
            <a href="#" class="alfabeto_link">Z </a>
        </span>
        <span class="span_alfabeto"></span>
    </div>

    <!-- listagem -->
    <ul class="listagem_nomes">
        <li>
            <a href="#">Alberto Madail Silva Belo</a>
        </li>
    </ul>



    <!-- altura 40px no fim do conteúdo-->
    <div class="altura_40_direita_fim">&nbsp;</div>




    </div>





</body>