@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/crewman.css" />
<body>

    <div class="div_geral_direita_90">

        <div class="div_direita_topo_header">Login <img src="images/menu_login.png"></div>

        <!-- form login -->

        <form action="#" class="form_login">


            <div class="moldura_login">
                <input type="text" class="inp_login" placeholder="Utilizador" />
            </div>

            <div class="moldura_login">
                <input type="password" class="inp_login" placeholder="Password" />
            </div>

            <button name="nome" type="submit" class="btn_login">Entrar</button>
            <div class="msg_erro">erro de login</div>

            <p> </p>
            <!--https://www.codeproject.com/Articles/482546/Creating-a-custom-user-login-form-with-NET-Csharp-->
        </form>
    </div>
</body>